@{
    ViewData["Title"] = "Pemasukan Harian";
    ViewData["Header"] = "Input Pemasukan Harian";
}
@model Pemasukan_harian
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form asp-action="tambah" method="post">
                        <div class="row">
                            <div class="col-12" id="input-group">
                                <div class="form-group p-3 mb-3">
                                    <div class="d-flex justify-content-between">
                                        <h3>Total Pemasukan</h3>
                                    </div>
                                    <input type="number"
                                           class="form-control"
                                           asp-for="Total"
                                           placeholder="Total Pemasukan" />
                                    <span asp-validation-for="Total" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 pt-2">
                                <div class="d-flex flex-row-reverse">
                                    <a asp-controller="pemasukan"
                                       asp-action="index"
                                       class="btn btn-primary btn-round ms-1">
                                        Kembali
                                    </a>
                                    <button class="btn btn-primary btn-round ms-1"
                                            type="submit">
                                        Input Pemasukan
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>