@{
    ViewData["Title"] = "Info Bahan";
    ViewData["Header"] = "Info Bahan";
    if (TempData["SuccessCreate"] != null || TempData["SuccessEdit"] != null)
    {
        <script>
            swal({
            title: "Success!",
            text: "",
            type: "success",
            buttons: {
            confirm: {
            className: "btn btn-success",
            },
            },
            });
        </script>
    }
}
@model List<Bahan>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-between">
                        <form asp-action="Index" method="get">
                            <div class="d-flex justify-content-start">
                                <input type="text"
                                       name="input"
                                       class="form-control input" />
                                <button type="submit" class="bg-primary btn-search">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                                <div class="ms-2">
                                    <button asp-controller="bahan" asp-action="index" class="color-font btn-refresh">
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <a asp-controller="bahan" asp-action="tambah" class="btn btn-primary btn-round ms-auto">
                            <i class="fa fa-plus"></i>
                            Tambah Bahan
                        </a>
                    </div>
                </div>
                <div class="card-body">

                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Harga</th>
                                    <th scope="col">Jumlah</th>
                                    <th style="width: 10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count > 0)
                                {
                                    @foreach (var i in Model)
                                    {
                                        <tr>
                                            <td>@i.nama</td>
                                            <td>@i.harga</td>
                                            <td>@i.jumlah</td>
                                            <td>
                                                <div class="form-button-action">
                                                    <a href="/bahan/edit/@i.Id" class="btn btn-link btn-primary btn-lg">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <button type="button" class="btn btn-link btn-danger" onclick="deleteBahan(@i.Id)">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4" class="text-center">Tidak ada data</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function deleteBahan(id) {
        swal({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            buttons: {
                cancel: {
                    visible: true,
                    text: "No, cancel!",
                    className: "btn btn-danger",
                },
                confirm: {
                    text: "Yes, delete it!",
                    className: "btn btn-success",
                },
            },
        }).then((willDelete) => {
            if (willDelete) {
                // Lakukan permintaan AJAX untuk menghapus data
                $.ajax({
                    url: `https://localhost:7226/bahan/delete/${id}`, // URL endpoint dengan ID
                    type: "DELETE",
                    success: function (response) {
                        // Jika berhasil
                        window.location.reload();
                        swal("Deleted!", "Your data has been deleted.", {
                            icon: "success",
                            buttons: {
                                confirm: {
                                    className: "btn btn-success",
                                },
                            },
                        });
                    },
                    error: function (xhr, status, error) {
                        // Jika terjadi error
                        swal("Error!", `Failed to delete data: ${xhr.responseText || error}`, {
                            icon: "error",
                            buttons: {
                                confirm: {
                                    className: "btn btn-danger",
                                },
                            },
                        });
                    },
                });
            } else {
                swal("Cancelled", "Your data is safe!", {
                    icon: "info",
                    buttons: {
                        confirm: {
                            className: "btn btn-primary",
                        },
                    },
                });
            }
        });
    }
</script>
